<!DOCTYPE html>

<html lang="ko_KR">
<head>
	<meta charset="utf-8" />
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/index.css" />
	<script type="text/javascript" src="../static/index.js" charset="utf-8"></script>
	<title>Summer Coding 2019: To Do List</title>
</head>
<body>
	<div id="box">
		<div id="system">
			<div id="top_title">
			Summer Coding 2019: To Do List
			</div>
			<div id="log">
            불러오는 중...
			</div>
			<a id="update">갱신/알람체크</a>
		</div>
		<div id="main">
			<div id="main_top">
				<input type="text" id="post_title" placeholder="제목" maxlength="255">
				<input type="submit" id="post_btn" value="@TODO">
			</div>
			<div id="main_todo">
				<ol id="todo_list">
				<!--
					<li class="todo_item" id="ㄹㅇid" value="priority">
						<div class="todo_item_top">
							<div class="priority_btn">
								<input type="button" class="up" name="up">
								<input type="button" class="down" name="down">
							</div>
							<input type="text" class="title" name="title" placeholder="( 제목 )" maxlength="255">
							<div class="todo_item_right">
								<input type="datetime" class="deadline" name="deadline" placeholder= "날짜 없음">
								<div class="right_btn">
									<input type="button" class="complete" name="complete">
									<input type="button" class="delete" name="delete">
								</div>
							</div>
						</div>
						<div class="content_box">
							<textarea class="content" name="content" placeholder="( 내용 )" maxlength="2000"></textarea>
					</li>
				-->
				</ol>
			</div>
		</div>
		<div id="alarm">
			<ol id="alarm_list">
				<!--
				<li class="alarm_item" id ="ㄹㅇ아이디">
					( 알람1 )
				</li>
				-->
			</ol>
		</div>
	</div>
</body>
</html>

